<% const totalAssets = user.accounts.reduce((accumulator, account) => { %>
    <% if (account.balanceType === 'asset') return accumulator += Number(account.currentBalance) %>
    <% return accumulator %>
<% }, 0) %>

<div class="col-6">
    <% if (user.accounts.length > 0) { %>
        <% const assets = user.accounts.filter(account => account.balanceType === 'asset') %>
        <% const liabilities = user.accounts.filter(account => account.balanceType === 'liability') %>
        <span>Assets</span>
        <ul class="row list-unstyled">
            <% for(var i=0; i < assets.length; i++) {%>
                <%- include('../components/accountTile', { account: assets[i], currency: user.currency }) -%>
            <% } %>
        </ul>
        <span>Liabilities</span>
        <ul class="row list-unstyled">
            <% for(var i=0; i<liabilities.length; i++) {%>
                <%- include('../components/accountTile', { account: liabilities[i], currency: user.currency }) -%>
            <% } %>
        </ul>
    <% } %>

    <%- include('createaccount') -%>
</div>