<% const totalAssets = user.accounts.reduce((accumulator, account) => { %>
    <% if (account.balanceType === 'asset') return accumulator += Number(account.currentBalance) %>
    <% return accumulator %>
<% }, 0) %>

<div class="col-md-12 col-lg-2">
    <ul class="list-group accounts-dash">
        <% if (user.accounts.length > 0) { %>
            <% const assets = user.accounts.filter(account => account.balanceType === 'asset') %>
            <% const liabilities = user.accounts.filter(account => account.balanceType === 'liability') %>
            <li class="list-group-item">
                Assets
            </li>

            <% for(var i=0; i < assets.length; i++) {%>
                <%- include('../components/accountTile', { account: assets[i], currency: user.currency }) -%>
            <% } %>

            <li class="list-group-item">
                Liabilities
            </li>

            <% for(var i=0; i<liabilities.length; i++) {%>
                <%- include('../components/accountTile', { account: liabilities[i], currency: user.currency }) -%>
            <% } %>

        <% } %>
        
        <%- include('../components/createAccountTile') -%>
    </ul>

</div>