<% const totalAssets = user.accounts.reduce((accumulator, account) => { %>
    <% if (account.balanceType === 'asset') return accumulator += Number(account.currentBalance) %>
    <% return accumulator %>
<% }, 0) %>

<div class="col-md-12 col-lg-2 mb-5">
        <% if (user.accounts.length > 0) { %>
            <% const assets = user.accounts.filter(account => account.balanceType === 'asset') %>
            <% const liabilities = user.accounts.filter(account => account.balanceType === 'liability') %>

            <% if (assets.length) { %>

                <h5 class="list-group-item">
                    Checking & Savings
                </h5>

                <div class="list-group accounts-dash mb-2">
                    <% for(var i=0; i < assets.length; i++) {%>
                        <%- include('../components/accountTile', { account: assets[i], currency: user.currency }) -%>
                    <% } %>
                </div>

            <% } %>

            <% if (liabilities.length) { %>

                <h5 class="list-group-item">
                    Credit Cards & Loans
                </h5>

                <ul class="list-group accounts-dash mb-2">
                    <% for(var i=0; i < liabilities.length; i++) {%>
                        <%- include('../components/accountTile', { account: liabilities[i], currency: user.currency }) -%>
                    <% } %>
                </ul>

            <% } %>

        <% } %>
        
        <ul class="list-group accounts-dash">
            <%- include('../components/createAccountTile') -%>
        </ul>

</div>