<a class="btn btn-secondary" href="/profile">
    Cancel
</a>
<%- include('../components/button', { btnFormAction: 'url/url', btnClass: null, btnMethod: 'get', btnIcon: null, btnType: 'submit', btnText: 'Submit' }) -%>