<% const options = { btn: {} } %>
<% const btn = options.btn %>
<% btn.class = 'btn-primary' %>
<% btn.type = 'submit' %>
<% btn.text = 'Submit' %>

<a class="btn btn-secondary" href="/profile">
    Cancel
</a>
<%- include('../components/button', options) -%>