<div class="modal" tabindex="-1" aria-labelledby="mainModalTitle" aria-hidden="true" role="dialog" id="mainModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainModalTitle"></h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mainModalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="mainModalCancelBtn">Cancel</button>
                <a class="btn btn-primary" id="mainModalSubmitButton">Delete</a>
            </div>
        </div>
    </div>
</div>