<%- include('components/header-guest') -%>

<main class="container d-flex justify-content-center hero">
  <div class="card mb-3 drop-shadow">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">Grow To Know Yourself</h5>
          <p class="card-text">Get to know how your spending habits affect your wallet.</p>
          <p class="card-text">Plan for your regular bills and future income/expenses.</p>
          <p class="card-text">Give your accounts room to grow.</p>
          <p class="card-text">
            <a class="btn btn-outline-secondary" href="/signup">
              Sign up
            </a>
            <a class="btn btn-primary" href="/login">
              Log In
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/imgs/micheile-henderson-SoT4-mZhyhE-unsplash cropped.jpg" class="img-fluid rounded-start hero-img" alt="A glass filled with coins sprouting a seedling">
      </div>
    </div>
  </div>
</main>
    

<%- include('components/footer') -%>