<%- include('partials/header') -%>
<div class="container">
    <div class="row mt-5">
        <%- include('partials/createtransaction'), {user: user, account: account} -%>
    </div>
</div>
<%- include('partials/transactionfooter') -%>