body {
    background-color: #FAF9F6;
}

.transactions-list {
    list-style-type: none
}

li[data-create="forecast"] {
    cursor: pointer;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.account-tile {
    border-radius: 0 0 0 0 !important;
}

.forecast-increase {
    color: green;
}

.forecast-decrease {
    color: red;
}