:root {
    /* colorhub - psilocybin */
    --brand: #5ee7a6;
    --darkest: #514738;
    --dark: #75664f;
    --mid: #c3cbdd;
    --light: #eae9e5;
    --lightest: #f3f3f5;

    /* coolors */
    --pigment-green: #429a49ff;
    --peach: #f3b391ff;
    --desert-sand: #f6d4baff;
    --cornsilk: #fefadcff;
    --naples-yellow: #ffde65ff;
}

body {
    background-color: #FAF9F6;
}

.transactions-list {
    list-style-type: none
}

li[data-create="forecast"] {
    cursor: pointer;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.account-tile {
    border-radius: 0 0 0 0 !important;
}

.forecast-increase {
    color: green;
}

.forecast-decrease {
    color: red;
}